/**
 * @author NetBusinessAgent
 * @version 1.0.0
 */

#whiteroom-front-page-widget-areas {
	width: 735px;
	border-top: #ddd solid 1px;
	border-right: #ddd solid 1px;
}
#whiteroom-front-page-widget-areas th,
#whiteroom-front-page-widget-areas td {
	width: 200px;
	padding: 5px 10px;
	border-bottom: #ddd solid 1px;
	border-left: #ddd solid 1px;
	text-align: center;
}
#whiteroom-front-page-widget-areas th {
	background-color: #f1f1f1;
}
#whiteroom-front-page-widget-areas td {
	background-color: #fff;
}
#whiteroom-front-page-widget-areas .whiteroom-delete-column {
	width: 50px;
}