@charset "utf-8";

@import '1200-grid-system';

@font-face {
	font-family: 'Genericons';
	src: url( '../fonts/genericons/genericons.eot' );
	src: url( '../fonts/genericons/genericons.eot?#iefix' ) format( 'embedded-opentype' ),
		 url( '../fonts/genericons/genericons.woff' ) format( 'woff' ),
		 url( '../fonts/genericons/genericons.ttf' ) format( 'truetype' ),
		 url( '../fonts/genericons/genericons.svg#genericonsregular' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

/** ==================================================
 *
 * Properties
 *
 ================================================== */
$base_font_size: 14;
$margin: 10px;

/** ==================================================
 *
 * Mixin
 *
 ================================================== */
@mixin fontsize( $size: $base_font_size ) {
	font-size: ( $size / $base_font_size ) * 100%;
}
@mixin display-inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/** ==================================================
 *
 * Extend
 *
 ================================================== */
/**
 * noFormatList
 */
.noFormatList {
	list-style: none;
	margin: 0;
	padding: 0;
	li, dt, dd {
		margin: 0;
		padding: 0;
	}
}

/**
 * .gothic
 */
.gothic {
	font-family: 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
}

/**
 * .mincho
 */
.mincho {
	font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

/** ==================================================
 *
 * Tags
 *
 ================================================== */
h1 {
	@include fontsize( 26 );
}
h2 {
	@include fontsize( 22 );
}
h3 {
	@include fontsize( 20 );
}
h4 {
	@include fontsize( 18 );
}
h5 {
	@include fontsize( 16 );
}
h6 {
	@include fontsize( 14 );
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
a {
	color: #000;
	&:link {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
	&:active {
		text-decoration: underline;
	}
}
.entry-content,
.page-content,
.comment,
#sub {
	ul ul,
	ul ol,
	ol ul,
	ol ol {
		margin-top: 0;
	}
}

/** ==================================================
 *
 * Layout
 *
 ================================================== */
body {
	background: #fff;
	font-size: $base_font_size + px;
}
#container {
	@extend .clearfix;
	overflow: hidden;
}
#header {
	@extend .clearfix;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba( 0, 0, 0, 0.3 );
	z-index: 10;
	@media screen and ( max-width: $bp_tablet ) {
		position: static;
	}
	.col-12 {
		position: relative;
	}
}
#contents {
	@extend .clearfix;
	padding: 60px 0 0;
	@media screen and ( max-width: $bp_tablet ) {
		padding-top: 0;
	}
}
#main {
	@extend .clearfix;
	margin-top: 0;
}
#sub {
	@extend .clearfix;
	margin-top: 0;
	margin-bottom: 20px;
}
#footer {
	@extend .clearfix;
	margin: 40px auto 0;
	background-color: #000;
	color: #fff;
}

/** ==================================================
 *
 * #header
 *
 ================================================== */
/**
 * .site-branding
 */
.site-branding {
	float: left;
	margin: 0;
	h1 {
		font-size: 100%;
		margin: 0;
		img {
			vertical-align: top;
		}
	}
}

/**
 * .global-nav
 */
#responsive-btn {
	background-image: none;
	line-height: 1;
	position: absolute;
	right: 20px;
	text-indent: 0;
	height: 20px;
	width: 20px;
	&:before {
		color: #2c2c2c;
		content: '\f419';
		font-family: 'Genericons';
		font-size: 20px;
	}
}
.global-nav {
	display: none;
	float: right;
	ul {
		@extend .clearfix;
		@extend .noFormatList;
		li {
			float: left;
			a {
				@include fontsize( 12 );
				display: block;
				padding: 20px 20px 16px;
				color: #2c2c2c;
				font-weight: bold;
				text-decoration: none;
				border-bottom: 3px solid transparent;
				transition: border-color 0.1s ease-in, background-color 0.1s ease-in;
			}
			&:hover > a,
			a:hover,
			a:active,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current_page_item > a,
			&.current_page_parent > a {
				border-bottom-color: #000;
			}
			ul {
				border-top: #ddd solid 1px;
				display: none;
				li {
					background: #fff;
					a {
						border: #ddd solid 1px;
						border-top: none;
					}
					ul {
						margin-top: -1px;
					}
				}
			}
		}
	}
}

/** ==================================================
 *
 * .entries
 *
 ================================================== */
.entries {
	.hentry:first-child {
		margin-top: 0;
	}
	.hentry {
		padding-bottom: 30px;
		.entry-header {
			margin-top: 0;
			margin-bottom: 10px;
		}
		.entry-thumbnail {
			float: right;
			margin: 0 0 0 20px;
			max-width: 33%;
			img {
				vertical-align: top;
			}
		}
		.entry-summary {
			@extend .clearfix;
			a {
				color: #000;
				text-decoration: none;
				&:hover, &:active {
					color: #999;
				}
				> *:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

/** ==================================================
 *
 * .hentry
 *
 ================================================== */
.hentry {
	@extend .clearfix;
	margin: 30px 0 0;
}
.entry-header,
.page-header {
	position: relative;
	overflow: auto;
	margin: 30px 0;
}
.entry-title,
.page-title {
	line-height: 1.4;
	margin: 0;
	overflow: hidden; /* ie8 */
	a {
		color: #000;
	}
}
.entry-meta {
	@include fontsize( 12 );
	border-top: 1px solid #ddd;
	color: #999;
	margin: 20px 0 0;
	padding: 5px 0 0;
	span a {
		color: #555;
		text-decoration: underline;
	}
	.entry-categories,
	.entry-tags {
		margin: 0 0 0 10px;
	}
}
.page-content,
.entry-content {
	> *:first-child {
		margin-top: 0;
	}
	@extend .clearfix;
	table {
		border-top: #ddd solid 1px;
		border-right: #ddd solid 1px;
		border-collapse: collapse;
		border-spacing: 0;
		padding: 0;
		width: 100%;
		caption {
			border: #ddd solid 1px;
			border-bottom: none;
			background-color: #eee;
			font-weight: bold;
			padding: 5px;
			text-align: left;
		}
		thead th {
			background-color: #eee;
		}
		th,
		td {
			border-bottom: #ddd solid 1px;
			border-left: #ddd solid 1px;
			padding: 8px 16px;
			vertical-align: top;
		}
		th {
			background-color: #f5f5f5;
			font-weight: bold;
		}
		td {
			background-color: #fff;
		}
	}
}

.page-content {
	margin-bottom: 20px;
}

/** ==================================================
 *
 * #comments
 *
 ================================================== */
#comments {
	margin: 40px 0 30px;
	padding: 1px 0 0;
	border-top: #ddd solid 1px;
	.comment-list,
	.comment-list .children {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.comments-title {
		margin: 20px 0 0;
		font-size: 16px;
	}
	.comment-list {
		.comment,
		.pingback,
		.trackback {
			position: relative;
			margin: 20px 0 0;
			padding: 20px 20px 0;
			border: 1px solid #ddd;
			.comment-meta {
				@extend .clearfix;
				margin: 10px 0 0;
				padding: 0 0 10px;
				border-bottom: 1px solid #ddd;
			}
			.comment-body {
				padding-bottom: 20px;
			}
		}
		.children {
			margin-right: -21px;
			margin-top: -20px;
			.comment {
				margin-bottom: -1px;
				padding-bottom: 0;
			}
		}
	}
	.comment-author,
	.comment-metadata {
		float: left;
		margin: 0 10px 0 0;
	}
	.comment-author img {
		vertical-align: middle;
	}
	.comment-metadata {
		padding-top: 4px;
	}
	.reply {
		position: absolute;
		top: 24px;
		right: 20px;
	}

	#respond label {
		display: block;
	}
	.required {
		color: #c30;
	}
	.comment-reply-title {
		font-size: 16px;
	}
	.no-comments {
		display: none;
	}
	#comment {
		width: 100%;
	}
}

/** ==================================================
 *
 * #sub
 *
 ================================================== */
#sub {
	.widget-container:first-child {
		margin-top: 0;
	}
}

/** ==================================================
 *
 * #footer
 *
 ================================================== */
#footer a {
	color: #fff;
}

/**
 * .footer-nav
 */
.footer-nav {
	@include fontsize( 12 );
	padding: 30px 0 0;
	ul {
		@extend .noFormatList;
		@extend .clearfix;
		li {
			float: left;
			margin: 0 20px 0 0;
		}
	}
}

/**
 * .social-nav
 */
.social-nav {
	margin-top: 20px;
	ul {
		@extend .noFormatList;
		@extend .clearfix;
		height: 16px;
		li {
			float: left;
			margin-right: 10px;
			a {
				display: block;
				height: 16px;
				width: 16px;
				overflow: hidden;
				&:before {
					content: '\f408';
					display: inline-block;
					font-family: 'Genericons';
					font-size: 16px;
					line-height: 16px;
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
				}
				&[href*="wordpress.org"]:before,
				&[href*="wordpress.com"]:before {
					content: '\f205';
				}
				&[href*="facebook.com"]:before {
					content: '\f203';
				}
				&[href*="twitter.com"]:before {
					content: '\f202';
				}
				&[href*="dribbble.com"]:before {
					content: '\f201';
				}
				&[href*="plus.google.com"]:before {
					content: '\f206';
				}
				&[href*="pinterest.com"]:before {
					content: '\f210';
				}
				&[href*="github.com"]:before {
					content: '\f200';
				}
				&[href*="tumblr.com"]:before {
					content: '\f214';
				}
				&[href*="youtube.com"]:before {
					content: '\f213';
				}
				&[href*="flickr.com"]:before {
					content: '\f211';
				}
				&[href*="vimeo.com"]:before {
					content: '\f212';
				}
				&[href*="instagram.com"]:before {
					content: '\f215';
				}
				&[href*="codepen.io"]:before {
					content: '\f216';
				}
				&[href*="linkedin.com"]:before {
					content: '\f208';
				}
			}
		}
	}
	& + .footer-widget-area {
		margin-top: -10px;
	}
}

/**
 * .footer-widget-area
 */
.footer-widget-area {
	margin-bottom: 40px;
}
#footer .widget {
	@include fontsize( 12 );
}

/**
 * .copyright-nav
 */
.copyright {
	background-color: #202020;
	color: #999;
	font-size: 11px;
	padding: 10px 0;
	margin: 30px 0 0;
	p {
		margin: 0 auto;
	}
}

/** ==================================================
 *
 * attachment
 *
 ================================================== */
.attachment {
	.entry-content {
		text-align: center;
		.attachment {
			text-align: left;
			display: inline-block;
		}
	}
}

/** ==================================================
 *
 * front-page
 *
 ================================================== */
.home {
	.front-page-widget-column {
		.widget {
			margin-top: 0;
		}
	}
	.full-back + .entry-content {
		margin-top: 40px;
	}
}

/** ==================================================
 *
 * voice
 *
 ================================================== */
.page-template-templatetemplate-voice-php {
	.type-voice {
		.entry-thumbnail {
			float: left;
			margin-left: 0;
			margin-right: 20px;
			margin-bottom: 10px;
			width: 240px;
			max-width: 100%;
			@media screen and ( max-width: $bp_sp ) {
				float: none;
				margin-right: 0;
				width: auto;
			}
		}
		.voice-customer {
			margin-top: 10px;
		}
	}
}

/** ==================================================
 *
 * faq
 *
 ================================================== */
.faq-list {
	border-top: #ccc solid 1px;
	margin-bottom: 20px;
	dl {
		@extend .clearfix;
		border-bottom: #ccc solid 1px;
		margin: 0;
		padding: 24px 0 20px;
		dt, dd {
			margin: 0;
			padding: 6px 0 10px 90px;
			position: relative;
			.question, .answer {
				background-color: #000;
				border-radius: 3px;
				color: #fff;
				display: block;
				font-size: 13px;
				line-height: 1.4;
				padding: 4px 15px 2px;
				position: absolute;
				top: 6px;
				left: 0;
			}
			.answer + * {
				margin-top: 0;
			}
		}
		dt {
			@include fontsize( 18 );
			line-height: 1.4; /* ie8 */
		}
		dd {
			padding-top: 10px;
		}
	}
}

/** ==================================================
 *
 * blog, faq, news
 *
 ================================================== */
.single-post {
	#main {
		.entry-content {
			margin-top: 30px;
		}
	}
}
.blog,
.date,
.author,
.tag,
.category,
.single-post,
.page-template-templatetemplate-news-php,
.post-type-archive-news,
.tax-news-category,
.page-template-templatetemplate-faq-php,
.post-type-archive-faq,
.tax-faq-category,
.page-template-templatetemplate-voice-php,
.search {
}

/** ==================================================
 *
 * Classes
 *
 ================================================== */
/**
 * section.full-back
 */
.full-back {
	@extend .clearfix;
	margin: 0 -1000px;
	padding: 40px 1000px 60px;
	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child {
		margin-top: 20px;
	}
	h1 {
		text-align: center;
		margin-bottom: 40px;
		font-weight: normal;
	}
}

/**
 * .fadeTopBtn
 */
.fadeTopBtn a {
	background: #000 url( ../images/common/top.png ) no-repeat 10px 14px;
	border-radius: 100%;
	height: 29px;
	width: 29px;
	padding: 10px;
	text-indent: -9999px;
	overflow: hidden;
}

/**
 * .whiteroom-bread-crumb
 */
.whiteroom-bread-crumb {
	color: #999;
	font-size: 11px;
	margin: 5px 0;
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: #666;
	}
}

/**
 * .sub-pages
 */
.sub-pages {
}

/**
 * .read-more
 */
.read-more {
	margin-left: 3px;
	display: inline-block;
	height: 7px;
	width: 4px;
	background: url( ../images/common/pin.png ) no-repeat 0 50%;
	text-indent: -9999px;
	overflow: hidden;
}

/**
 * .sticky
 */
.sticky {
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
}

/**
 * .main-visual
 */
.main-visual {
	img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}

/**
 * .widget-container
 */
.widget-container,
.widget {
	> dl {
		margin: 0;
	}
	margin: 20px 0 0;
	.widget-content {
		margin: 0;
		font-size: 12px;
		> *:first-child {
			margin-top: 0;
		}
	}
	.widget-title {
		margin: 0 0 5px;
		font-weight: bold;
	}
	ul {
		list-style: none;
		li {
			margin: 0 0 0 2px;
			padding: 0 0 0 15px;
			background: url( ../images/common/arrow.png) no-repeat 0 .6em;
		}
	}
	.textwidget > :first-child {
		margin-top: 0;
	}
}

/**
 * .post-navigation
 */
.post-navigation {
	margin: 40px 0 0;
	padding: 10px 0 0;
	border-top: #ddd solid 1px;
	h1 {
		display: none;
	}
	.nav-links {
		@extend .clearfix;
		.nav-previous {
			float: left;
			margin: 0 20px 0 0;
		}
		.nav-next {
			float: right;
		}
	}
}

/**
 * .whiteroom-video-container
 */
.whiteroom-video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/**
 * .pager
 */
.pager {
	@include fontsize( 12 );
	margin: 20px 0;
	p {
		@extend .clearfix;
		display: block;
		margin: 0;
		padding: 0;
		span,
		a {
			color: #111;
			background-color: #fff;
			margin: 0 2px 0 0;
			padding: 2px 0 1px 0;
			border: #ddd solid 1px;
			float: left;
			width: 23px;
			text-align: center;
			text-decoration: none;
			overflow: hidden;
		}
		a:hover,
		span.current {
			color: #fff;
			background-color: #ccc;
		}
	}
}

/**
 * .hidden
 */
.hidden{
	display: none;
}

/**
 * whiteroom-recent-entries
 */
.whiteroom-recent-entries {
	ul {
		@extend .noFormatList;
		li {
			margin: 0;
			padding: 0;
			background-image: none;
			dl {
				margin: 0;
				overflow: auto;
				dt {
					float: left;
					width: 9.5em;
				}
				dd {
					@extend .noFormatList;
					margin: 0;
					overflow: hidden;
					a {
						color: #000;
						text-decoration: none;
						&:hover, &:active {
							color: #999;
						}
					}
				}
			}
		}
	}
}

/**
 * .whiteroom-eyecatch-entry
 */
.widget_whiteroom_eyecatch_entry_widget {
	margin-top: 20px;
}
.whiteroom-eyecatch-entry dl {
	.thumbnail {
		margin: 0 0 15px;
		img {
			vertical-align: top;
		}
	}
	.entry-title {
		@include fontsize( 16 );
		margin-bottom: 5px;
	}
	dd {
		@include fontsize( 13 );
		margin: 0;
		a {
			color: #000;
			text-decoration: none;
			&:hover, &:active {
				color: #999;
			}
			> *:first-child {
				margin-top: 0;
			}
		}
	}
}

/**
 * .dl-top-image
 */
.dl-top-image {
	dl {
		@extend .noFormatList;
		margin-top: 20px;
	}
	.thumbnail {
		margin: 0 0 20px;
		@media screen and ( max-width: $bp_sp ) {
			margin: 0 0 10px;
		}
	}
	.title {
		@include fontsize( 15 );
		border-bottom: #000 solid 1px;
		margin: 0 0 15px;
		padding: 0 0 3px;
	}
	dd {
		a {
			color: #000;
			text-decoration: none;
			&:hover, &:active {
				color: #999;
			}
		}
	}
	.noborder {
		.thumbnail {
			margin-bottom: 0;
			@media screen and ( max-width: $bp_sp ) {
				margin-bottom: 0;
			}
		}
		.title {
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}




